:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --primary: black;
  --secondary: white;
  --terciary: rgb(28, 176, 209);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  display: flex;
   background-color:var(--primary);
  background-image: url("https://transparenttextures.com/patterns/light-aluminum.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  width: 100%;
  padding-top: 80px;
  padding-left: 5svw;
  padding-bottom: 80px;
}
.filter {
  display: flex;
  position: fixed;
  top: 0;
  flex-direction: column;
  gap: 40px;
  width: 30%;
  min-width: 300px;
  padding: 30px;
  font-weight: 1000;
}
h1{
  color: var(--secondary);
  font-size: 30px;
}
.filter > label {
  font-size: 25px;
  color: var(--secondary);
}
.inputFilter {
  color: var(--primary);
  background-color: var(--terciary);
  padding: 10px;
  border-radius: 3px;
  font-size: 15px;
  width: 200px;
}
.products{
  margin-left: 30%;
}
.elements {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  gap: 30px;
  flex-wrap: wrap;
}

.element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--primary);
  color: var(--secondary);
  transition: transform 0.5s;
}
.element:hover {
  box-shadow: 5px 5px 50px var(--terciary);
  transform: scale(1.1);
}
.element h2 {
  align-self: center;
}
.element figure {
  display: flex;
  padding: 20px;
  width: 250px;
}
.image-element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.image-element img {
  width: 100%;
}
.atom {
  display: flex;
  justify-content: center;
  height: 25px;
}

.atom img{
  height: 70px;
  width: 140px;
  object-fit: cover;
}
.symbol, .atomic-mass {
  position: absolute;
  color: var(--terciary);
  background-color: black;
  border: 2px solid var(--terciary);
  padding: 4px;
  border-radius: 3px;
  font-size: 16px;
} 
.symbol {
  top: 5px;
  left: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.atomic-mass {
  top: 5px;
  right: 5px;
}

@media screen and (max-width: 675px) {
  body {
    flex-direction: column;
  }

  .filter{
    align-items: center;
    position: relative;
    width: 100%;
    min-width: none;
    margin: 0;
  }
  .products {
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
  }
  .elements {
    justify-content: center;
  }
}